
/* ---BREAKPOINTS--- */

@media only screen and (max-width: 900px) {
    .main-header {
        margin: 10px 40px;
        /* padding: 0px 20px 0px 20px; */
    }
    .app-container {
        margin: 0px 40px;
    }
}

@media only screen and (max-width: 830px) {
    .email-app-body {
        display: flex;
        flex-direction: column;
    }
    .email-nav-bar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .email-nav-bar a:first-child {
        margin:0;
        width: 170px;
        padding: 5px 0px 5px 10px;
        border: 0.3px solid rgb(100, 100, 100);
        border-radius: 30px;
        margin-bottom: 5px;
    }
    .email-nav-bar button:not(:first-child) {
        margin: 2px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 20px 20px;
        background-color: rgb(255, 60, 83, 0.1);
    }
}

@media only screen and (max-width: 700px) {
    /* main // Homepage */
    .main-nav-links {
        display: none;
    }
    .btn-menu {
        display: block;
        margin-right: 15px;
    }
    .main-nav-links.open {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 510px;
        width: 100%;
        position: absolute;
        top: 130px;
        right:0px;
        text-align: center;
        background-color: rgb(255, 184, 184)
    }
    .main-nav-links a {
        color:black;
       
    }
    .main-nav-links a:hover{
        color:black;
       
    }
    .main-header {
        margin: 10px 20px;
        padding: 0px 20px 0px 20px;
    }
    .link-container {
        flex-direction: column;
        height: 300px;
    }
    .link-container button {
        width: 80px;
        height: 80px;
        font-size: 1.3rem;
    }
    .email-list{
        margin-top: 10px;
    }
    /* Email */
    .email-description {
        font-size: 0.8rem;
        color: rgb(94, 94, 94);
        margin: 2px;
        width: 100px;
    }
    li p:last-child {
        width: 125px;
    }
    .from-p {
        font-size: .4rem;
    }
    .bottom-line {
        border-bottom: 0.5px solid lightgray;
    }
    .email-body {
        width: 200px;
    }
    a {
        padding: 3px;
    }
}


@media only screen and (max-width: 620px) {

    .main-header {
        margin: 10px 10px;
        padding: 0px 10px 0px 10px;
    }
    .app-container{
        margin: 10px 10px;
        padding: 0px 10px 0px 10px;
    }
    .logo{
        margin: 5px;
    }
    .home-logo{
        height: 70px;
        width: 70px;
    }

    .email-header{
    flex-direction: column;
    }
       .main-nav-links.open {
        top:150px;
    }
    .email-nav-bar a:first-child {
        width: 125px;
        font-size: 1rem;
    }
    .email-nav-bar button:not(:first-child) {
     padding: 5px;
    }
    .email-nav-bar span{
    display: none;
    }

}