.note-create-firts-inputs{
width: 300px;
}

.note-create-firts-inputs input{
    border-width: 0px;
    border: none;
    outline: none;
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    border-bottom: .3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.create-media-btns{
height: 30px;
width: 30px;
}

.create-media-btns button{
    padding: 5px 8px;
    border-radius: 100%;
    margin-right: 10px;
    background-color: #fff;
    border: 0.5px solid rgb(255, 255, 255);
    cursor: pointer;
}
.create-media-btns button:hover{
    background-color: rgb(255, 206, 214);

}
