/* --Import for helpers file-- */

@import './helpers.css';
@import './cmps/note-video.css';
@import './cmps/note-text.css';
@import './cmps/note-img.css';
@import './cmps/note-list.css';
@import './cmps/note-create.css';

* {
    box-sizing: border-box;
    font-family: monts-reg;
}

.note-app {
margin:0px 30px;
}

a{
  text-decoration: none
}




/* --Import for cmps css files-- */

/* * {
    box-sizing: border-box;
    font-family: monts-reg;
}

.note.image {
    border: 1px solid red
}

.note.video {
    border: 1px solid blue;
    width: 100px;
    height: 100px;

}

.note.txt {
    border: 1px solid yellow
}

.note.todos {
    border: 1px solid green;
} */


