/* --Import for helpers file-- */

@import './helpers.css';
@import './cmps/note-video.css';
@import './cmps/note-text.css';
@import './cmps/note-img.css';
@import './cmps/note-list.css';
@import './cmps/note-create.css';
@import './cmps/note-preview.css';

* {
    box-sizing: border-box;
    font-family: monts-reg;
}



a{
  text-decoration: none
}





